<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DashBoard</title>
</head>
	<body>
		<br>
		<br>
		<h2 style="color: white; background-color: blue; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 12px; ">			
			Welcome, <%- firstName %> <%- lastName %> to your dashboard, the central hub for all your account activities
			and settings, designed to make your experience smooth and seamless.
			<br>
			<br>
			<%- email %>
		</h2>

		<a href="/logout">Log Out</a>
		
	</body>
</html>