<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Forgot Password</title>
</head>
	<body>
		<header>
			<%- include('../common/header') %>
		</header>
		
		<h2>Forgot your password?</h2>
		
		<h3>Enter your email address.</h3>
			
		<form action="/forgotPassword" onsubmit="return validated()" method="POST" >
		
			<label for="email">Email:</label>
			<input type="email" id="email" size="75" name="email">
			<br>
			<span id="emailErrorMessage"></span>
			<br>
			
			<a href="http://localhost:1080/home" >Cancel</a>			

			<button type="submit">Continue</button>
		</form>
		<br>			
					
		<footer>
			<%- include('../common/footer') %>
		</footer>

		<script type="text/javascript">

			const validated = (e) => { 			
						
			const email = document.getElementById('email').value.trim();
			const regExEmail = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/;  
					
			if (email === '' || email == null || email.length <= 6 || !email.match(regExEmail)) {
				document.getElementById('emailErrorMessage').textContent = 'Your email is a required input field.';
			
				setTimeout(function() {
					document.getElementById('emailErrorMessage').textContent = '';
				},
				9000)
			
				return false;
			
			}				
			
			e.preventDefault();  
				
			form.addEventListener('submit', validated);
			return true;    
			
			} 			
				
		</script>
	</body>
</html>