<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Temporary Login</title>
</head>
	<body>
		<header>
			<%- include('../common/header') %>
		</header>
		
		<h3>Verifying Your Temporary Password</h3>	
					
		<form action="/login" onsubmit="return validated()" method="POST" >
		
			<label for="email">Email:</label>
			<input type="email" id="email" size="75" name="email">
			<br>
			<span id="emailErrorMessage"></span>
			<br>
			<label for="password">Password:</label>
			<input type="password" id="password" size="75" name="password">
			<br>
			<span id="passwordErrorMessage"></span>
			<br>
			<button type="submit" >Continue</button>
		</form>
		<br>			
		<span>
			<a href="/forgotUsername">Forgot Username</a>
			<br>
			<a href="/forgotPassword">Forgot Password</a>

		</span>
			
		<footer>
			<%- include('../common/footer') %>
		</footer>

		<script type="text/javascript">

			const validated = (e) => { 
			
			const email = document.getElementById('email').value.trim();
			const regExEmail = /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/;  
					
			if (email === '' || email == null || email.length <= 6 || !email.match(regExEmail)) {
				document.getElementById('emailErrorMessage').textContent = 'Your email is a required input field.';
			
				setTimeout(function() {
					document.getElementById('emailErrorMessage').textContent = '';
				},
				9000)
			
				return false;
			
			}	
			
			const password = document.getElementById('password').value.trim();
			
			const regExPassword = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,32}$/;
			
				if (password === '' || password == null || password.length <= 7 || !password.match(regExPassword)) {
				document.getElementById('passwordErrorMessage').textContent = 'Your password is a required input field.';
			
				setTimeout(function() {
					document.getElementById('passwordErrorMessage').textContent = '';
				},
				9000)
			
			return false;
			
			}      		
				
			e.preventDefault();  
				
			form.addEventListener('submit', validated);
			return true;    
			
			} 			
			
		</script>
	</body>
</html>