<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reset Password</title>
</head>
	<body>
		<header>
			<%- include('../common/header') %>
		</header>
		
		<h3>Reset Password</h3>	
		
		<h5 style="color: white; background-color: red; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 12px; ">
			Hi, <%- firstName %> <%- lastName %>, Please Reset Your Password.
		</h5>
		
		<form action="/resetPassword" onsubmit="return validated()" method="POST" >
		
			<br>
			<label for="password">New Password:</label>
			<input type="password" id="password" size="75" name="password">
			<br>
			<span id="passwordErrorMessage"></span>
			<br>
			
			<label for="confirmPassword">Confirm Password:</label>
			<input type="password" id="confirmPassword" size="75" name="confirmPassword">
			<br>
			<span id="confirmPasswordErrorMessage"></span>
			<br>		

		<a href="http://localhost:3000/home" >Cancel</a>			

		<button type="submit">Continue</button>
		</form>
		<br>	
			
		<footer>
			<%- include('../common/footer') %>
		</footer>

		<script type="text/javascript">

			const validated = (e) => { 		
					
			const password = document.getElementById('password').value.trim();

			if (password === '' || password == null || password.length <= 7 || !password.match(regExPassword)) {
				document.getElementById('passwordErrorMessage').textContent = 'Your password is a required input field.';
			
				setTimeout(function() {
					document.getElementById('passwordErrorMessage').textContent = '';
				},
				9000)
			
			return false;
			
			}     

			const confirmPassword = document.getElementById('confirmPassword').value.trim();		
			
			if (confirmPassword === '' || confirmPassword == null || confirmPassword.length <= 7 || !confirmPassword.match(regExPassword)) {
				document.getElementById('confirmPasswordErrorMessage').textContent = 'Your confirm password is a required input field.';
			
				setTimeout(function() {
					document.getElementById('confirmPasswordErrorMessage').textContent = '';
				},
				9000)
			
			return false;
			
			} 
			
			if (password != confirmPassword) {
				document.getElementById('confirmPasswordErrorMessage').textContent = 'Your password does not match to your confirm password which are required input fields.';

				setTimeout(function() {
					document.getElementById('confirmPasswordErrorMessage').textContent = '';
				},
				9000)

				return false;

            }			
			
			e.preventDefault();  
				
			form.addEventListener('submit', validated);
			return true;    
			
			} 	
			
				
		</script>
	</body>
</html>