<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reset Password</title>
</head>
	<body>
		<header>
			<%- include('../common/header') %>
		</header>
		
		<h1>Reset Password</h1>
		<br>
		<h4>
			Your will need to create your own password.
		</h4>
			
		<form action="/resetPassword" onsubmit="return validated()" method="POST" >
		
			<label for="password">Temporary Password:</label>
			<input type="password" id="password" name="password">
			<br>
			<span id="passwordErrorMessage"></span>
			<br>

			<label for="password2">New Password:</label>
			<input type="password" id="password_2" name="password2">
			<br>
			<span id="passwordErrorMessage2"></span>
			<br>

			<label for="confirmPassword">Confirm Password:</label>
			<input type="password" id="confirmPassword" name="confirmPassword">
			<br>
			<span id="confirmPasswordErrorMessage"></span>
			<br>
			
			<a href="http://localhost:3000/home" >Cancel</a>			

			<button type="submit">Continue</button>
		</form>
		<br>			
		<span>
			
			<a href="/forgotUsername">Forgot Username</a>

		</span>
			
		<footer>
			<%- include('../common/footer') %>
		</footer>

		<script type="text/javascript">

			const validated = (e) => { 			
			
			
				const password = document.getElementById('password').value.trim();
			
				const regExPassword = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,32}$/;
			
				if (password === '' || password == null || password.length <= 7 || !password.match(regExPassword)) {
				document.getElementById('passwordErrorMessage').textContent = 'Your password is a required input field.';
			
				setTimeout(function() {
					document.getElementById('passwordErrorMessage').textContent = '';
				},
				9000)
			
			return false;
			
			}     

			const password_2 = document.getElementById('password_2').value.trim();

			if (password_2 === '' || password_2 == null || password_2.length <= 7 || !password_2.match(regExPassword)) {
				document.getElementById('passwordErrorMessage2').textContent = 'Your password is a required input field.';
			
				setTimeout(function() {
					document.getElementById('passwordErrorMessage2').textContent = '';
				},
				9000)
			
			return false;
			
			}     
			
			const confirmPassword = document.getElementById('confirmPassword').value.trim();		
			
			if (confirmPassword === '' || confirmPassword == null || confirmPassword.length <= 7 || !confirmPassword.match(regExPassword)) {
				document.getElementById('confirmPasswordErrorMessage').textContent = 'Your confirm password is a required input field.';
			
				setTimeout(function() {
					document.getElementById('confirmPasswordErrorMessage').textContent = '';
				},
				9000)
			
			return false;
			
			} 
			
			if (password != confirmPassword) {
				document.getElementById('confirmPasswordErrorMessage').textContent = 'Your password does not match to your confirm password which are required input fields.';

				setTimeout(function() {
					document.getElementById('confirmPasswordErrorMessage').textContent = '';
				},
				9000)

				return false;

            }
			
			e.preventDefault();  
				
			form.addEventListener('submit', validated);
			return true;    
			
			} 			
				
		</script>
	</body>
</html>