<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reset Password</title>
</head>
	<body>
		<header>
			<%- include('../common/header') %>
		</header>
		
		<h1>Reset Password</h1>
		<br>
		<h4>
			Your will need to create your own password.
		</h4>
			
		<form action="/resetPassword" onsubmit="return validated()" method="POST" >
		
			<label for="password">Old Password:</label>
			<input type="password" id="password" name="password">
			<br>
			<span id="passwordErrorMessage"></span>
			<br>

			<label for="password2">New Password:</label>
			<input type="password" id="password2" name="password2">
			<br>
			<span id="passwordErrorMessage2"></span>
			<br>
			
			<a href="http://localhost:3000/home" >Cancel</a>			

			<button type="submit">Continue</button>
		</form>
		<br>			
		<span>
			
			<a href="/forgotUsername">Forgot Username</a>

		</span>
			
		<footer>
			<%- include('../common/footer') %>
		</footer>

		<script type="text/javascript">

			const validated = (e) => { 			
			
			
				const password = document.getElementById('password').value.trim();
			
				const regExPassword = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,32}$/;
			
				if (password === '' || password == null || password.length <= 7 || !password.match(regExPassword)) {
				document.getElementById('passwordErrorMessage').textContent = 'Your password is a required input field.';
			
				setTimeout(function() {
					document.getElementById('passwordErrorMessage').textContent = '';
				},
				9000)
			
			return false;
			
			}     

			const password2 = document.getElementById('password2').value.trim();
			
			if (password2 === '' || password2 == null || password2.length <= 7 || !password2.match(regExPassword)) {
				document.getElementById('passwordErrorMessage2').textContent = 'Your password is a required input field.';
			
				setTimeout(function() {
					document.getElementById('passwordErrorMessage2').textContent = '';
				},
				9000)
			
			return false;
			
			}      	
			
			e.preventDefault();  
				
			form.addEventListener('submit', validated);
			return true;    
			
			} 			
				
		</script>
	</body>
</html>