<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Footer Page</title>
	
	<link rel="stylesheet" type="text/css" href="../css/footer.css" />
</head>
<body>	
	<h3>
		<br>		
		<hr id="red_line">	
		<hr id="blue_line">
		This is footer Section.
		<br>
		<br>
	</h3>	
	<br>

</body>
</html>